# FIXME: I'm mounting my own dirs for testing only.

name: "uvx-sandbox"
description: "Run with tiny RAM, disk, CPU, and no network"

# Run once and exit; kill after 5s wall time
mode: ONCE
time_limit: 5
cwd: "/home"


# run as nobody
uidmap {
    inside_id: "65534"
    outside_id: "65534"
}
gidmap {
    inside_id: "65534"
    outside_id: "65534"
}

#iface_no_lo: true
clone_newnet: true
clone_newuser: true
clone_newns: true
clone_newpid: true
clone_newipc: true
clone_newuts: true
clone_newcgroup: true
mount_proc: true

mount {
  dst: "/home"
  fstype: "tmpfs"
  rw: true
}

mount {
  dst: "/tmp"
  fstype: "tmpfs"
  rw: true
  options: "size=32M"
}

mount {
  dst: "/dev/shm"
  fstype: "tmpfs"
  rw: true
  options: "size=32M"
}
mount {
	src: "/usr/bin"
	dst: "/usr/bin/"
	is_bind: true 
	rw: false
}

mount {
	src: "/bin/"
	dst: "/bin/"
	is_bind: true 
	rw: false
}
mount {
    src: "/usr/lib"
    dst: "/usr/lib"
    is_bind: true
    rw: false
}
mount {
    src: "/usr/lib64"
    dst: "/usr/lib64"
    is_bind: true
    rw: false
}
mount {
    src: "/lib"
    dst: "/lib"
    is_bind: true
    rw: false
}
mount {
    src: "/lib64"
    dst: "/lib64"
    is_bind: true
    rw: false
}

mount {
    src: "/home/hyper/.local/bin"
    dst: "/home/hbin"
    is_bind: true
    rw: false
}
mount {
	src: "/dev/urandom"
	dst: "/dev/urandom"
	is_bind: true
	rw: false
}
mount {
	src: "/dev/null"
	dst: "/dev/null"
	is_bind: true
	rw: true
}
mount {
	src: "/run/systemd/resolve/stub-resolv.conf"
	dst: "/etc/resolv.conf"
	is_bind: true
}
mount {
	src: "/home/hyper/.local/share/uv/python"	
	dst: "/home/.local/share/uv/python"	
	is_bind: true
}
# uv can't use this because it's read-only, I don't want it to be writeable or else anyone
# can write to uv/tools at host, I should use an overlayFS and then make it writeable so that it's a CoW.
#mount {
#	src: "/home/hyper/.local/share/uv/tools"	
#	dst: "/home/.local/share/uv/tools"	
#	is_bind: true
#}

# Address space
#rlimit_as: 50
# Max size of any single file created in MiB
rlimit_fsize: 1
# CPU time (in seconds)
rlimit_cpu: 2
# Max number of open files
rlimit_nofile: 64

# cgroups
#
use_cgroupv2: true
# CPU budget: 100 ms per second
cgroup_cpu_ms_per_sec: 100
# process count
cgroup_pids_max: 32
# in bytes (50 MB)
cgroup_mem_max: 52428800

keep_env: false
envar: "HOME=/home"
envar: "PATH=/usr/bin:/home/hbin"
